<div class="d-flex justify-content-center mt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item position-relative">
      <a class="nav-link" [ngClass]="{'active': !doneStatus}"  (click)="doneStatus = false" aria-current="page">
        Undone
        <span class="badge rounded-pill text-bg-danger">
          {{doneTodos.length}}
        </span>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': doneStatus}" (click)="doneStatus = true">
        Done
        <span class="badge rounded-pill text-bg-info">
          {{unDoneTodos.length}}
        </span>
      </a>
    </li>
  </ul>
</div>

<section class="d-flex flex-column align-items-center">
  <app-todo
    *ngFor="let todo of filterTodos" [todoItem]="todo"
    (status)="doChangeStatus(todo.key)"
    class="col-6 mb-2 mt-2">
  </app-todo>
</section>
