<header>
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Add Todo Here</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Simple Todo App with Bootstrap & Angular</p>
        <app-form-add-todo (doAddTodo)="doAddTodoToArray($event)"></app-form-add-todo>
      </div>
    </div>
  </div>
</header>

<app-todos [todos]="todos" (delete)="doDeleteTodo($event)" (status)="doChangeStatus($event)"></app-todos>


<router-outlet/>
